.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 720px) {
    .NavigationItems {
        flex-direction: row;
    }
}