.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: #6ed3cf;
    padding: 16px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 720px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(100%);
}

.Logo {
    height: 60px;
    width: 100%;
    background-color: #6ed3cf;
    margin-bottom: 50px;
}

.Logo img {
    height: 20px;
}

.Logo a {
    font-size: 10px;
}